.phperror {
  position: fixed;
  top: 0;
  right: 50px;
  // width: 96%;
  max-width: 55px;
  display: flex;
  margin-right: 120px;
  cursor: pointer;
  background-color: red;
  color: #fff;
  transition: all 0.2s ease; 
  a.per {
    color: #fff;
    padding: 0.5em 1em 0.5em 1em;
    transition: all 0.2s ease;
    &:hover {
      padding-top: 0.75em;
      background-color: red;
    }
  }
  &.on {
    border-top: none;
    border-right: 1px solid rgba(255,255,255,0.6);
    border-bottom-right-radius: 3px;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    border-bottom-left-radius: 3px;
    border-left: 1px solid rgba(255,255,255,0.6);
  }
}