body {
  &.lbbc {
    background-color: #265084;
  }
}

.hmmsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: gray;
  color: rgba(255,255,255,0.6);
  a {
    color: #fff;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}