body {
  &.auth {
    background-color: #fff;
  }
  &.lbbc {
    background-color: #265084;
  }
  &.loc {
    background-color: #e84242;
  }
}
a {
  color: #0000ee;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: #0000ee;
  }
  &.btn-one,
  &.btn-two,
  &.btn-three,
  &.btn-four {
    display: inline-flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    margin: .5em 0;
    background-color: rgba(38,80,132,1);
    border: 1px solid rgba(255,255,255,1);
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
      text-decoration: none !important;
      background-color: rgba(38,80,132,0.6);
    }
    &.btn-two {
      margin: 0 0 0 0.5em;
      padding: 5px 10px;
    }
    &.btn-three {
      margin: 0 0 0 0.5em;
      padding: 2px 10px;
    }
    &.btn-four {
      margin: 0 0 0 0.5em;
      padding: 0px 10px;
      background-color: transparent;
      border: none;
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}

.hmmsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: gray;
  // color: rgba(255,255,255,0.6);
  a {
    color: #fff;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.dashboard-line.green {
  color: green;
}

.dashboard {
  display: flex;
  width: 100%;
  // height: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin-bottom: 1.5em;
}

.lower-grid {
  grid-template-columns: 1fr;
}

.dashboard-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 8px;
  &.w-title {
    border-radius: 0px 0px 8px 8px;
    flex-grow: 1;
  }
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px 8px 0px 0px;
  padding: 10px;
  color: #fff;
  background-color: #000;
}
.mct { /* mini card text */
  display: block;
  font-size: 0.8em;
  margin-top: -4px;
  vertical-align: top;
}
li.hcli { /* homepage card li */ 
  margin-left: 1em;
  &:not(:last-child):not(:only-child) {
    margin-bottom: 1em;
  }
}
.hpc { /* homepage card */
  display: flex;
  flex-direction: column;
}

.dashboard-card h2 {
  margin-top: 0;
  margin-bottom: 0.75em;
  font-size: 1.1em;
}

.dashboard-line {
  margin-bottom: 0.5em;
  &.due-next {
    padding-left: 1em;
  }
}


.dashboard-big {
  font-size: 2em;
  font-weight: 700;
}

.wide-card {
  width: 100%;
}

@media (max-width: 1100px) {
  .dashboard-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}

.account-jump {
  color: #313131;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

table.full-width {
  width: 100%;
  tr:nth-child(even) {
    background-color: rgba(0,0,0,0.1);
  }
}

.row {
  width: 100%;
  display: flex;
  margin-bottom: 0.5em;
  label {
    width: 200px;
    // text-align: right;
    padding-right: 0.5em;
  }
}
.ded-red {
  color: red;
}

.static-field {
  // padding-left: .75em;
  display: inline-block;
  font-weight: bold;
}

.fpdue {
  font-weight: bold;
}
.wday {
  display: inline-block;
  width: 45px;
  &.nt {
    width: 30px;
  }
}
