.intake-form {
  display: flex;
  width: 100%;
  // height: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.funding-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  color: #fff;
}
.billing-schedule {
  line-height: 1.5em;
}
.intake-form .billing-schedule {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
}
.inner-links {
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 1em;
  a {
    color: #fff;
    text-decoration: none;
    margin: 1em;
    &:hover {
      text-decoration: underline;
    }
  }
  &.top {
    margin-top: 0;
    padding: 0px 0px 5px 0px;
    a {
      margin: 0 1em 0;
    }
  }
}
.billing-schedule .inner-links {
  margin-top: 0;
  & > a {
    margin-top: .75em;
  }
}
.two-col {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1em;
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
  }
}
.row.standalone {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form.pro-acct {
  flex-direction: row;
  label {
    margin-right: .75em;
  }
}
input,
select {
  font-size: 1em;
  padding: 0.5em;
}
input.memo {
  height: 4em;
}
.checks {
  display: flex;
  margin-top: 1em;
  label {
    margin: 0 1.5em;
  }
}
textarea {
  font-family: inherit;
  font-size: 1em;
  padding: 0.5em;
  resize: vertical;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em;
  margin: 1em 0;
  background-color: #376b7f;
  border: 1px solid rgba(255,255,255,0.6);
  transition: all 0.15s ease;
  &:hover {
    background-color: #214c5c;
  }
  &.pay {
    padding: 3px;
    margin: 0;
    width: 100%;
    background-color: transparent;
    border: none;
  }
}
.form-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.errors,
.success {
  display: flex;
  margin: 1em 0em;  
  padding: 1em 5em 1em 1em;
  border-radius: 8px;
  width: fit-content;
  // width: 100%;
}
.errors {
  background-color: #c63d3d;
}
.success {
  background-color: #2aa343;
}
table {
  background-color: rgba(255,255,255,0.8);
  color: #313131;
  font-size: 0.9em;
  border-collapse: collapse;
  th, 
  td {
    font-weight: normal;
    padding: 5px;
    text-align: left;
    &.pay {
      display: flex;
      justify-content: center;
      // padding: 0.5em 0.25em;
      padding: 2px;
      // align-self: center;
      // padding: 3px;
      // margin: 3px;
    }
    &.paypal {
      text-align: center;
    }
  }
  td a.editAcctLink {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  tr.inactive-row td {
    opacity: 0.55;
  }

  tr.inactive-row td a {
    opacity: 1;
  }

  tr:nth-child(even) {
    background-color: rgba(255,255,255,0.8);
  }
  tr.thisYear {
    background-color: #ffc000;
    &:nth-child(even) {
      background-color: #ffc926;
    }
  }

  tr.nextYear {
    background-color: #91f50b;
    &:nth-child(even) {
      background-color: #a1f533;
    }
  }

  tr.twoYears {
    background-color: #ffff00;
    &:nth-child(even) {
      background-color: #ffff63;
    }
  }

  // tr.partial
  tr.first-partial {
    background-color: #fff54f;
    color: #313131;
  }
  tr.first-due {
    background-color: #ffd84f;
    color: #000;
  }

  tr.tbr {
    background-color: #313131;
    color: #fff;
  }
  tr.monthlyFixed {
    background-color: #ff4f4f;
    color: #fff;
    border-bottom: 2px solid rgba(255,255,255,0.3);
    &.lot {
      border-bottom: none;
    }
  }

  thead {
    background-color: #313131;
    color: #fff;
    white-space: nowrap;
    th {
      padding: 5px;
    }
  }
}
.billing-schedule.projection {
  table {
    tr.paid,
    tr.partial,
    tr.due {
      td {
        padding: 5px;
      }
    }
  }
}
.conicon {
  margin-right: 1em;
}
.paypal-icon {
  max-width: 16px;
  &.bnav {
    margin-right: .75em;
  }
}
.table-container {
  max-height: 65vh;
  overflow-y: scroll;
  table {
    width: 100%;
    border-collapse: collapse;
    thead th {
      position: sticky;
      background-color: #000;
      top: 0;
      z-index: 22;
    }
  }
} 
